@page "/project/{id:int}"
@inject HttpClient HttpClient
@using ProjectBank.Shared;
<h1>@SelectedProject.name</h1>


<div class="border">
    <div> <!--Statistics Div-->
        <table>
            <tr>
                <th>Views</th>
                <th>Applications</th>
                <th>Ratio</th>
            </tr>
            <tr>
                <th>@Views</th>
                <th>@Applications</th>
                <th>@Ratio</th>
            </tr>
        </table>
    </div>
    <div>
        <div> <!-- Title-->
            <span>@SelectedProject.name</span>
        </div>
        <div> <!-- Desc-->
            @SelectedProject.desc
        </div>
    </div>
</div>

<button hidden="@(!IsSupervisor)">Apply for project</button>
<button hidden="@IsSupervisor">Delete project</button>

<button @onclick ="@Toggle">Toogle Supervisor</button>

@code{

    [Parameter] public int id {get; set;}

    private bool IsSupervisor;
    private Project SelectedProject = new();

    private int Views;
    private int Applications;
    private double Ratio;




    protected override async Task OnInitializedAsync()
    {
        SelectedProject = await HttpClient.GetFromJsonAsync<Project>($"Project/{id}");


        SetPage();

    }

    public void Toggle()
    {
        IsSupervisor = !IsSupervisor;
    }

    public int GetRatio(int views, int applications) 
    {
        return views < 1 ? 0 : views/applications;
    }



    public void SetPage() 
    {
        Views = GetViews();
        Applications = GetApplicants();
        Ratio = GetRatio(Views, Applications);

        IsSupervisor = GetUser().supervisor;
    }

    public (int id, string name, bool supervisor) GetUser()
    {
        return (1,"Paolo", true);
    }



    public int GetViews() 
    {
        return 20;
    }

    public int GetApplicants()
    {
        return 4;
    }

}